<p id="notice"><%= notice %></p>

<h1>Phenotypes</h1>

<table>
  <thead>
    <tr>
      <th>Universal ID</th>
      <th>Name</th>
      <th>Category</th>
      <th>Source</th>
      <th>Source ID</th>
      <th>Species</th>
      <th colspan="7"></th>
    </tr>
  </thead>

  <tbody>
    <% @phenotypes.each do |phenotype| %>
      <tr>
        <td><%= phenotype.uuid %></td>
        <td><%= phenotype.name %></td>
        <td><%= phenotype.category %></td>
        <td><%= phenotype.species %></td>
        <td><%= phenotype.source %></td>
        <td><%= phenotype.source_id %></td>
        <td><%= link_to 'Show', phenotype %></td>
        <td><%= link_to 'Edit', edit_phenotype_path(phenotype) %></td>
        <td><%= link_to 'Destroy', phenotype, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Phenotype', new_phenotype_path %>
