<p id="notice"><%= notice %></p>

<h1>Pathways</h1>

<table>
  <thead>
    <tr>
      <th>Universal ID</th>
      <th>Name</th>
      <th>Category</th>
      <th>Source</th>
      <th>Source ID</th>
      <th colspan="5"></th>
    </tr>
  </thead>

  <tbody>
    <% @pathways.each do |pathway| %>
      <tr>
        <td><%= pathway.uuid %></td>
        <td><%= pathway.name %></td>
        <td><%= pathway.category %></td>
        <td><%= pathway.source %></td>
        <td><%= pathway.source_id %></td>
        <td><%= link_to 'Show', pathway %></td>
        <td><%= link_to 'Edit', edit_pathway_path(pathway) %></td>
        <td><%= link_to 'Destroy', pathway, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Pathway', new_pathway_path %>
